/**
* 共通部分・header・footerのスタイル
*/

/* -------------------------*/
/* ■ 共通部分 ---------------*/
/* -------------------------*/
body {
  font-family: "Noto Sans JP",Helvetica,Arial,sans-serif;
  line-height: 1.6em;
  min-width: 1200px;
}


/* セクション単位の上下余白 */
/* 相殺を考慮しひとまずbottomのみ */
.section-margin {
  margin-bottom: 70px;
}

main {
  /* ヘッダーの高さ分下にずらす */
  margin-top: 100px;
}

button {
  cursor: pointer;
}

/* -------------------------*/
/* ■ ヘッダー ---------------*/
/* -------------------------*/

header {
  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 10000;

  padding: 0 35px;
  width: 100%;
  min-width: 1200px;
  height: 100px;

  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

/* ロゴ */
/* 
ロゴ画像サイズ変えるときは
.main-logoのサイズを変える
a,img は100%で固定 
*/
.main-logo {
  /* ここを変える */
  margin-right: 65px;
  width: 200px;
}
.main-logo a {
  /* 固定 */
  width: 100%;
}
.main-logo img{ 
  /* 固定 */
  width: 100%;
}

/* 検索フォーム */
.select-form {
  display: flex;
  justify-content: space-between;

  border: 1px solid #bbb;
  border-radius: 10px;
  margin-right: 30px;
  padding: 0 20px;
  width: 350px;
  height: 57px;

  background-color: #fff;
  overflow: hidden;
}

.select-form input {
  border: none;
  flex-grow: 1;
}

.select-form input:focus {
  outline: none;
}

.select-form button {
  border: none;
  background-color: unset;
  cursor: pointer;
}

/* 右側のメニュー */
nav {
  margin-left: auto;
}
.global-menu {
  display: flex;
}
.global-menu li:not(:last-child) {
  margin-right: 10px;
}

/* -------------------------*/
/* ■ 凡庸1カラム用 -----------*/
/* -------------------------*/

.common-one-column {
  padding: 0 35px;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
}

/* -------------------------*/
/* ■ TOPに戻るボタン --------*/
/* -------------------------*/
.back-to-top-page {
  margin-bottom: 30px;
  text-align: center;
}

.back-to-top-page a {
  border-radius: 4px;
  padding: 5px 8px;
  background-color: #777;
  font-size: 14px;
  color: white;
}

.back-to-top-page a:hover {
  background-color: #aaa;
}

/* -------------------------*/
/* ■ エラー(input用) --------*/
/* -------------------------*/
.err-msg-position {
  position: relative;
  display: inline;
}
.err-msg-position span {
  position: absolute;
  top: -30px;
  right: -17px;
  background-color: red;
  font-size: 12px;
  color: white;
  padding: 2px 6px;
  border-radius: 3px;
}

.err-msg-position span:after {
  content: "";
  position: absolute;
  bottom: -33px;
  right: 10px;
  display: block;
  padding-top: 10px;
  border-style: solid;
  border-color: red transparent transparent transparent;
  border-width: 20px 15px 6px 0px;
}

/* -------------------------*/
/* ■ 確認メッセージ ---------*/
/* -------------------------*/

.confirm-msg {
  margin-top: 30px;
}

.confirm-msg p {
  text-align: center;
}

/* -------------------------*/
/* ■ フッター ---------------*/
/* -------------------------*/
footer {
  text-align: center;
  padding: 20px;
  font-size: 12px;
  color: #555;
  border-top: solid 1px whitesmoke;
  margin: 0 25px;
}