/* -------------------------*/
/* ■ タイトル ---------------*/
/* -------------------------*/

.subpage-title-wrap {
  border-bottom: solid 1px whitesmoke;

  padding-top: 70px;
  padding-bottom: 30px;
}

.subpage-title-wrap > * {
  text-align: center;
}

.subpage-title-wrap h2 {
  font-size: 30px;
  font-weight: normal;
}

.subpage-title-wrap p {
  margin-top: 1em;
  font-size: 14px;
}

/* -------------------------*/
/* ■ フォーム ---------------*/
/* -------------------------*/

.subpage-form {
  padding: 50px 0 60px;
}

.dicision-btn {
  display: block;

  margin: 28px auto 0;
  border: none;

  width: 260px;
  height: 50px;
  background-color: #8D2202;
  font-size: 20px;
  color: white;
  text-align: center;
}

/* 凡庸テキストボックス */
.text-input {
  text-align: center;
}

.text-input + .text-input {
  margin-top: 18px;
}

.text-input label {
  display: inline-block;
  text-align: right;
  margin-right: 30px;
  width: 130px;/* マジックナンバー */
}

.text-input input {
  padding: 10px 12px;
  width: 400px;
}